<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="bower_components/d3/d3.js"></script>
<script type="text/javascript" src="bower_components/d3-cloud/d3.layout.cloud.js"></script>
<script type="text/javascript" src="tags.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Word Cloud</title>
</head>
<body>
    <h1> Word Cloud </h1>
    <div id="vis"></div>
        <script type="text/javascript" src="WordCloud2.js"></script>


    <h1> Time Line </h1>
    <div>
        <script type="text/javascript" src="TimeLine.js"></script>
    </div>
</body>
</html>